---
- hosts: all
  become: true
  become_user: "{{ target_user }}"
  vars:
    target_user: shawon
    flatpaks:
      - com.discordapp.Discord
      - com.spotify.Client
      - org.telegram.desktop
      - com.github.tchx84.Flatseal
      - com.obsproject.Studio
      - md.obsidian.Obsidian
      - com.mattjakeman.ExtensionManager
      - org.gnome.World.PikaBackup
      - org.filezillaproject.Filezilla
      - io.podman_desktop.PodmanDesktop
      - com.github.jeromerobert.pdfarranger
      - de.haeckerfelix.Shortwave
      - com.anydesk.Anydesk
      - org.localsend.localsend_app
      - org.torproject.torbrowser-launcher
      - org.zotero.Zotero
      - org.mozilla.Thunderbird
      - net.davidotek.pupgui2
      - com.github.d4nj1.tlpui
      - it.mijorus.gearlever
      - io.github.pieterdd.RcloneShuttle
      - com.github.iwalton3.jellyfin-media-player 
      - io.github.wartybix.Constrict
      - io.podman_desktop.PodmanDesktop
      - dev.geopjr.Calligraphy
      - com.github.huluti.Curtail
      - com.github.iwalton3.jellyfin-media-player
      - com.github.jeromerobert.pdfarranger
      - com.ulduzsoft.Birdtray
      - dev.geopjr.Collision
      - dev.qwery.AddWater
      - io.github.getnf.embellish
      - io.github.ronniedroid.concessio
      - io.github.wartybix.Constrict
      - io.gitlab.librewolf-community 
      - re.sonny.Eloquent
      - org.wireshark.Wireshark
      - org.ghidra_sre.Ghidra
      - com.usebruno.Bruno
      - dev.qwery.AddWater
      - n.srev.guiscrcpy 
      - io.dbeaver.DBeaverCommunity
      - io.github.dvlv.boxbuddyrs 
      - io.github.getnf.embellish

  tasks:
    - name: Add Flathub remote for user
      flatpak_remote:
        name: flathub
        state: present
        flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
        method: user

    - name: Install Flatpak applications for user
      flatpak:
        name: "{{ item }}"
        state: present
        remote: flathub
        method: user
      loop: "{{ flatpaks }}"
