---
- hosts: all
  become: true
  vars:
    target_user: shawon
  
  tasks:
    - name: Install system development packages
      dnf:
        name:
          - git
          - clang
          - llvm
          - make
          - curl
          - openssl-devel
          - zlib-devel
          - bzip2-devel
          - readline-devel
          - sqlite-devel
          - ncurses-devel
          - xz-devel
          - tk-devel
          - libffi-devel
          - patch
          - python3-devel
          - zsh
        state: present

    - name: Add Docker repository
      yum_repository:
        name: docker-ce-stable
        description: Docker CE Stable - $basearch
        baseurl: https://download.docker.com/linux/fedora/$releasever/$basearch/stable
        enabled: true
        gpgcheck: true
        gpgkey: https://download.docker.com/linux/fedora/gpg

    - name: Install Docker Engine
      dnf:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present

    - name: Start and enable Docker service
      systemd:
        name: docker
        state: started
        enabled: true

    - name: Add user to docker group
      user:
        name: "{{ target_user }}"
        groups: docker
        append: true

    - name: Install Podman Compose
      dnf:
        name: podman-compose
        state: present

    - name: Install gh cli
      dnf:
        name: gh
        state: present

    - name: Import Microsoft GPG key
      shell: |
        rpm --import https://packages.microsoft.com/keys/microsoft.asc
      args:
        creates: /tmp/microsoft-gpg-imported
        
    - name: Create marker file for GPG key import
      file:
        path: /tmp/microsoft-gpg-imported
        state: touch
      when: ansible_check_mode == false

    - name: Add VSCode repository
      yum_repository:
        name: code
        description: Visual Studio Code
        baseurl: https://packages.microsoft.com/yumrepos/vscode
        enabled: true
        gpgcheck: true
        gpgkey: https://packages.microsoft.com/keys/microsoft.asc
        
    - name: Install VScode
      dnf:
        name: code
        state: present
    
    - name: Install nodejs
      dnf:
        name: nodejs
        state: present

    - name: Install corepack
      command: npm i -g corepack

- hosts: all
  become: false
  vars:
    target_user: shawon
  tasks:
    - name: Enable corepack
      command: corepack enable
      
    - name: Install Rust and Cargo
      shell: |
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
        source $HOME/.cargo/env
      args:
        creates: "/home/{{ target_user }}/.cargo/bin/rustc"

    - name: Install pyenv
      shell: |
        curl https://pyenv.run | bash
      args:
        creates: "/home/{{ target_user }}/.pyenv/bin/pyenv"

    - name: Configure shell for pyenv
      blockinfile:
        path: "/home/{{ target_user }}/.bashrc"
        block: |
          export PYENV_ROOT="$HOME/.pyenv"
          export PATH="$PYENV_ROOT/bin:$PATH"
          eval "$(pyenv init --path)"
          eval "$(pyenv init -)"
          export PATH="$HOME/.cargo/bin:$PATH"
        marker: "# {mark} ANSIBLE MANAGED BLOCK - dev tools"
        create: true

    - name: Install uv
      shell: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
      args:
        creates: "/home/{{ target_user }}//.cargo/bin/uv"


